/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	font-family: Montserrat;
	background: #f3f4fb;
	margin-top: 20px;
}

/* 
*
*	Таби, кнопки табів, поле контенту табів
*
*/

/* TABS */
.tabs__content {
	display: none;
}

.tabs__toggle.is-active {
	background: #e7eef8;
}

.tabs__toggle.is-active .tabs__name {
	color: #2a61d8;
}

.tabs__content.is-active {
	display: block;
}

span::after {
	padding-left: 5px;
}

.tabs__head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #fff;
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
	border-radius: 30px;
	padding: 10px 5px;
	margin-bottom: 20px;
	max-width: 400px;
}

.tabs__toggle {
	margin: 0 5px;
	padding: 7px 25px;
	background: #fff;
	border-radius: 20px;
	cursor: pointer;
	transition: 0.5s;
}

.tabs__name {
	font-weight: 500;
	font-size: 14px;
	color: #484848;
}

.tabs__body {
	background: #fff;
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
	border-radius: 25px;
	padding: 30px;
	position: relative;
	max-width: 700px;
	min-height: 500px;
}

/*
*
*	контент у табах
*
*/
.tabs__title {
	margin-top: 0px;
}

/* Заголовки у контенті */
.tabs__content h2 {
	font-size: 22px;
	font-weight: 600;
	color: #2a61d8;
	text-align: left;
}

/* Текст у табах */
.tabs__content p {
	margin-top: 0px;
	margin-bottom: 20px;

	font-size: 14px;
	line-height: 1.6;
	color: #484848;
}

/* показати/сховати текст завдань */
.hidden-text {
	display: none;
	margin-top: 10px;
}

.toggle-hidden-text {
	color: #2a61d8;
	/* text-decoration: underline; */
	cursor: pointer;
}

/* Поля вводу в Range Tab */
label {
	display: block;
	font-weight: 500;
	font-size: 14px;
	color: #2a61d8;
	margin-bottom: 10px;
}
/* Вибір дати */
input,
select {
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 10px;
	font-size: 14px;
	margin-bottom: 20px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05);
	transition: 0.3s;
}
input[type='date'],
select {
	width: 100%;
}
input:focus,
select:focus {
	outline: none;
	border-color: #2a61d8;
	box-shadow: 0px 0px 5px rgba(42, 97, 216, 0.4);
}

/* 	
	опціі: +7 або +30 днів 
*/
.checkbox-container {
	display: flex;
	gap: 10px;
}

.custom-checkbox {
	display: inline-block;
	padding: 10px 10px;
	border: 1px solid #ddd;
	border-radius: 30px;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
	color: #ddd;
	margin-bottom: 10px;
}

.custom-checkbox.active {
	background-color: #ffffff;
	border-color: #2a61d8;
	color: #2a61d8;
}

.custom-checkbox:hover {
	background-color: #ffffff;
	border-color: #2a61d8;
	color: #2a61d8;
}

/* Кнопки Range */
.result-button {
	padding: 10px 20px;
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	background: #2a61d8;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	transition: 0.3s;
	/* margin-top: 15px; */
	margin-bottom: 20px;
}

/* Останній результат */
#last-result {
	font-weight: bold;
	color: #2a61d8;
	font-size: 30px;
}
.last-result {
	font-size: 30px;
	font-weight: 800;
	color: #484848;
	margin-bottom: 20px;
	margin-top: 20px;
}

.last-result span {
	color: #2a61d8;
	font-weight: 600;
}
.result-button:hover {
	background: #1f4eb5;
}

/* Контейнер для History та Clear Results */
.history-header {
	color: #2a61d8;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 0px;
}

/* Список результатів */
.result-list {
	margin: 0px 0;
	padding: 0;
	list-style-type: none;
}

.result-list li {
	padding: 5px;
	font-size: 14px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.result-list .date {
	color: #b2b2b2;
}

/* Кнопка Clear Results */
.clear-button-text {
	font-size: 14px;
	color: #2a61d8;
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
	text-decoration: underline;
	transition: 0.3s;
	margin-top: 16px;
}

.clear-button-text:hover {
	color: #1f4eb5;
}
/* Кнопки Holidays */
.holidays-button {
	padding: 10px 20px;
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	background: #2a61d8;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	transition: 0.3s;
	margin-top: 10px;
	margin-bottom: 20px;
}
.holidays-button:disabled {
	background: #e7eef8;
	color: #2a61d8;
	cursor: not-allowed;
}

/* Таблиця */
table {
	width: 100%;
	border-collapse: collapse;
}

th,
td {
	padding: 10px;
	text-align: left;
	font-size: 14px;
}

th {
	background: none;
	font-weight: 600;
	color: #2a61d8;
}

td {
	padding-top: 14px;
	padding-bottom: 14px;

	background: none;
}
td:last-child {
	font-weight: 500;
}
tr {
	border-bottom: 1px solid #ddd;
}

tr:hover {
	background-color: #f1f5fa;
	border-radius: 20px;
}
/* Кнопка Сортування */
#sort-button {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 16px;
	padding: 0;
	margin-left: 10px;
	justify-content: center;
	align-items: center;
}

#sort-button:focus {
	outline: none;
}

#sort-icon {
	align-items: center;
}

input[type='text'] {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}
/*--- Адаптивність ---*/
@media (max-width: 768px) {
	.tabs__title {
		font-size: 18px;
	}
}

@media (max-width: 480px) {
	.tabs__head {
		padding: 10px 5px;
	}

	.tabs__toggle {
		padding: 5px 10px;
	}

	.tabs__body {
		padding: 15px;
	}

	.tabs__title {
		font-size: 20px;
	}

	.tabs__text {
		line-height: 1.4;
	}
}
